
<div class="hotels-list__container">
    <div class="img-block">
        <img class="img-hotel" [src]="environment.imagesHost + hotel.info.img" alt="">
        <div class="discount-block" *ngIf="discountPercents">
            <span class="discount-text">Сэкономьте {{discountPercents}}%</span>
        </div>
    </div>

    <div class="description-block">
        <span class="big-text">{{hotel?.info?.name}}</span>
        <app-stars-rating [starsCount]="hotel?.info?.cat"></app-stars-rating>
        <div class="description-block__location">
            <span>Расположение</span>
            <span>{{hotel?.info?.addr}}</span>
        </div>
    </div>

    <div class="price-block">
        <div class="price-discount">
            <ng-container *ngIf="discountPercents; else priceNoDiscount">
                <span class="price-no-discount">{{hotel?.items[0][0].commerce.payment}} RUB</span>
                <span class="big-text">{{hotel?.items[0][0].commerce.tpayment}} RUB</span>
            </ng-container>
        </div>

        <div>
            <button mat-flat-button color="primary" class="watch-hotel">Посмотреть</button>
        </div>
    </div>
</div>

<ng-template #priceNoDiscount>
    <span class="big-text">{{hotel?.items[0][0].commerce.payment}} RUB</span>
</ng-template>
