<div *ngIf="isLoading$ | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
    <div>
        <ng-container [ngSwitch]="connection$ | async">
            <span *ngSwitchCase="ActionTypes.Conneect">Подключаемся к серверу...</span>
            <span *ngSwitchCase="ActionTypes.ConneectSuccess">Подключение установлено</span>
            <span *ngSwitchCase="ActionTypes.ConneectFail">Ошибка подклчения, переподключаемся...</span>
            <div *ngSwitchCase="ActionTypes.ConneectReconnectionExceed">
                <span>Превышен лимит попыток подключения, попробуйте обновить страницу</span>
                <button mat-stroked-button (click)="onReconnectClick()" color="accent">Переподключиться</button>
            </div>

        </ng-container>
    </div>

    <div *ngIf="(connection$ | async) === ActionTypes.ConneectSuccess">
        <ng-container [ngSwitch]="authorization$ | async">
            <span *ngSwitchCase="ActionTypes.AutorizeStart">Авторизуемся...</span>
            <span *ngSwitchCase="ActionTypes.AutorizeSuccess">Авторизация успешна</span>
            <span *ngSwitchCase="ActionTypes.AutorizeFail">Ошибка авторизации, уточните свои авторизационные данные</span>
        </ng-container>
    </div>

    <h1>Hotels search</h1>

    <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit(filterForm)">
        <mat-form-field class="filter-form__date-field">
            <input matInput [max]="filterForm.get('dateTo').value" [matDatepicker]="dateFromPicker" formControlName="dateFrom" placeholder="Дата заезда">
            <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="filter-form__date-field">
            <input matInput [min]="filterForm.get('dateFrom').value" [matDatepicker]="dateToPicker" formControlName="dateTo" placeholder="Дата выезда">
            <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateToPicker></mat-datepicker>
        </mat-form-field>

        <button mat-stroked-button
                type="submit"
                [disabled]="(authorization$ | async) !== ActionTypes.AutorizeSuccess"
                color="primary"
        >Search hotels</button>
    </form>

    <div class="hotels-list" *ngIf="searchResult$ | async">
        <div class="hotels-list__total">Нашлось {{(hotels$ | async)?.length}} результатов</div>
        <div class="hotels-list__total">Нашлось всего {{(total$ | async)}} результатов</div>
        <app-hotel-list-item *ngFor="let hotel of (hotels$ | async)" [hotel]="hotel"></app-hotel-list-item>
    </div>

</div>