<div [style.position]="'absolute'" class="loader-container">
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
    <h1>Hotels search</h1>

    <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit(filterForm)">
        <mat-form-field class="filter-form__date-field">
            <input matInput [max]="filterForm.get('dateTo').value" [matDatepicker]="dateFromPicker" formControlName="dateFrom" placeholder="Дата заезда">
            <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="filter-form__date-field">
            <input matInput [min]="filterForm.get('dateFrom').value" [matDatepicker]="dateToPicker" formControlName="dateTo" placeholder="Дата выезда">
            <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateToPicker></mat-datepicker>
        </mat-form-field>

        <button mat-stroked-button type="submit" color="primary">Search hotels</button>
    </form>

    <!--<div class="row">
        <div class="messages">
            <ul *ngIf="messages$ | async as messages">
                <li *ngFor="let message of messages">
                    <strong>№{{ message.id }}:</strong> {{ message.text }}
                </li>
            </ul>
        </div>

        <div class="counter">
            <strong *ngIf="counter$ | async as counter">Update websocket counter: {{ counter }}</strong>
        </div>
    </div>

    <div class="row">
        <filterForm [formGroup]="filterForm" autocomplete="off" novalidate (submit)="sendText()">
            <div class="filterForm-group">
                <div class="filterForm-control">
                    <textarea placeholder="Email" autocomplete="off" formControlName="text"></textarea>
                </div>
            </div>
            <div class="filterForm-group">
                <button type="submit" [disabled]="filterForm.invalid">Send text</button>
            </div>
        </filterForm>

        <div class="texts">
            <ul *ngIf="texts$ | async as texts">
                <li *ngFor="let text of texts; let i = index;">
                    {{ text }}
                    <span class="remove" (click)="removeText(i)">x</span>
                </li>
            </ul>
        </div>
    </div>-->


</div>