.loader-container {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.container {
    padding: 30px;
}
.filter-form {
    /*padding: 30px;*/
}
.filter-form__date-field {
    margin-right: 20px;
}
.filter-form__form-field {
}

.hotels-list {
    width: 1000px;
}

.hotels-list__total {
    margin: 10px 0;
    font-size: 20px;
}

.hotels-list__show-next-button {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
}
